<span id="admin-area">
    <div class="input-section bordered">
        <input type="radio" name="rbAction" id="rbDiagnose" value="diagnose" checked /> <label for="rbDiagnose">Diagnose</label>
    </div>
    <div class="input-section bordered">
        <input type="radio" name="rbAction" id="rbBlank" value="blank" />  <label for="rbBlank">Blank tag entirely</label>
    </div>
    <div class="input-section bordered">
        <input type="radio" name="rbAction" id="rbMakeStart" value="makeStart" />  <label for="rbMakeStart">Make start</label>
        <div>
            Sensitivity : <input id="txtSensitivity" value="1" type="text" />
        </div>
    </div>
    <div class="input-section bordered">
        <input type="radio" name="rbAction" id="rbMakeEnd" value="makeEnd" />  <label for="rbMakeEnd">Make end (also clears high score)</label>
    </div>
    <div class="input-section home">
        <button id="btnHome">Home</button>
    </div>
    <div class="input-section">
        <div id="consoleOut">

        </div>
    </div>
</span>