<span id="baton">

    <span id="inner-content" style="display:none;">

        <h3>Tilt : <span id="healthDisplay"></span></h2>

        <h3>time : <span id="timeDisplay"></span></h2>

        <h2>Damage : <span id="damage"></span></h2>

        <button id="btnHome">Cancel</button>

    </span>
</span>
