<div style="background-color: green;padding: 10px 0 10px 0;">
    <div style="float: left;width: 133px;">
        <div data-role="accel-pad" style="float:left;margin-left:10px;width:50px;height:50px;border-style:solid;border-color:black;border-width:1px;">

        </div>
        <div style="margin-left:80px;">
            <div>X : <span data-role="accel-x"></span></div>
            <div>Y : <span data-role="accel-y"></span></div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <button id="btnTriggerStart" type="button" > Trigger start tag</button>
    <button id="btnTriggerEnd" type="button" > Trigger End tag</button>
    <button id="btnAdmin" type="button">Admin</button>
    <button id="btnBack" type="button">Back</button>
</div>