<div id="highscore">
    <h1>High score</h1>

    <table class="high-score-holder" data-role="high-score-holder">
        <tr class="header"><td>Rank</td><td>Name</td><td>Damage </td>
    </table>

    <button id="btnHome">Home</button>

</div>