<span id="home">

    <h1>Runner</h1>

    <div class="capture-name">
        <div class="name-header">
            Hi there
        </div>
        <input id="txtName" maxlength="3" value="pla" type="text" />
    </div>


    <div class="call-to-action">
        Swipe your phone over a start tag to begin!
    </div>
    <div class="blurb">
        Runner is a game where you move between two tags while keeping your phone level. The longer you take or
        more your phone shakes, the higher your damage. Try to reach the other tag with the lowest damage.
    </div>


</span>