<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Runner</a></h1>
        </li>
    </ul>
</nav>

<div class="body" data-layout-role="body">

</div>

<span data-layout-role="controller">

</span>
