<span id="success">
    <h1>Done!</h1>

    <div class="score">
        Your damage : <span id="displayScore"></span>
    </div>

    <span id="phUpdateScore" style="display:none;">
        Your damage sustained was low enough to beat the high score - swipe the tag again to add your name and score to it
    </span>

    <span id="phNoHighScore" style="display:none;">
        You completed the run, but your damage was too high to make the high score. Swipe the tag again to see who you need to beat.
    </span>
</span>