
/* credits : http://mikefowler.me/2013/11/18/page-transitions-in-backbone */
/* attach to a page-level node for it to transition */
.page {
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  /*margin-top:40px;*/
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* attach to a page-level node to make it visible */
.page.is-visible {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

